numpy
pandas
opencv-python
matplotlib
scipy
pyyaml
tqdm
torch
diffusers
transformers>=4.31.0
accelerate
peft
safetensors
scikit-learn
Pillow
streamlit
imageio-ffmpeg
librosa
moviepy
ultralytics
pytest
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
